/* ==============GENERAL============= */
html,body {
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	background-color:#000000;
}

body {
	width:100%;
	font:bold 22px 'Rosario', sans-serif;
	color:#e2e2e2;
	letter-spacing:1px;
	position:relative;
	background-image:url(../images/topGlow.jpg);
	background-repeat:no-repeat;
	background-position:center top;
}

li {
	margin-bottom:8px;
}

a:link {
	color:green;
	text-decoration:none;
}

a:visited {
	color:green;
	text-decoration:none;
}

a:hover {
	color:orange;
	text-decoration:underline;
}

#left_fade {
	width: 255px;
	height: 100%;
	overflow: auto;
	background-image: url(../images/leftFade.png);
	background-repeat: repeat-y;
	z-index: 100;
	position: absolute;
	left: 0px;
	top: 0px;
}

#right_fade {
	width: 255px;
	height: 100%;
	overflow:auto;
	background-image:url(../images/rightFade.png);
	background-repeat:repeat-y;
	z-index:100;
	position:absolute;
	right:0px;
	top:0px;
}

#last_square {
	width:2px;
	height:5px;
	border-left:1px solid white;
	border-top:1px solid white;
	position:absolute;
	top:0px;
	left:0px;
	z-index:102;
	display:none;
}

/* ===============HEADER============== */
#header {
	width:100%;
	position:relative;
	text-align:center;
	border-bottom:dotted 2px orange;
}

#logo {
	margin:60px auto;
	position:relative;
}

/* =============CONTENT============= */
#main_wrapper {
	width:100%;
	height:100%;
	position:relative;
	margin-top:0px;
	padding-top:20px;
	z-index:101;
}

#content_wrapper {
	width:1300px;
	height:100%;
	position:relative;
	border:0px solid blue;
	margin:50px auto;
}

.content {
	width:100%;
	height:auto;
	background-color:black;
	position:absolute;
	overflow:hidden;
	border:0px solid lime;
	display:none;
}

.content.selected {
	display:block;
}

.content_title {
	width:1050px;
	margin:0px auto;
	font:bold 62px 'Rosario', sans-serif;
	color:#e2e2e2;
	letter-spacing:1px;
	position:relative;
	border:0px solid yellow;
	border-bottom:1px solid #333333;
	padding-bottom:1px;
	margin-bottom:17px;
}

.content_title.welcome {
	width:1050px;
	margin:0px auto;
	font:bold 62px 'Rosario', sans-serif;
	color:#e2e2e2;
	letter-spacing:1px;
	position:relative;
	border:0px solid yellow;
	border-bottom:0px solid #333333;
	padding-bottom:1px;
	text-align:center;
	border-bottom:1px solid #333333;
}

.info {
	width:1050px;
	margin-left:126px;
	font:22px 'Rosario', sans-serif;
	color:#e2e2e2;
	letter-spacing:1px;
	position:relative;
	border:0px solid yellow;
	padding-bottom:5px;
}

.examples {
	font:28px 'Rosario', sans-serif;
	color:#e2e2e2;
	letter-spacing:1px;
	position:relative;
}


